<p>datatypes works!</p>
<div class ="data">
    <!-- Interpolation {{}} -->
    <!-- One way binidng -->
First name : {{name}}<br/>
Age : {{age}}<br/>
Hobbies : {{hobbies}}<br/>
Marks : {{marks}}<br/>
Boolean : {{Istrue}}<br/>
Tuple : {{tupleval}}<br/>
Any : {{dynamicvalue}}<br/>
Object:

FatherName : {{student.fathername}}
Address : {{student.Address}}
<br>

Json : {{student|json}}
</div>
<hr>
<img src ="assets/image/ball.jpg" alt= "ball" height = "500" width = "450"  />
<hr>
<img src={{picture}} alt = "Doll" height = "200" width = "200"  />
<hr>
<h2>Property Binding</h2>
<img [src] = picture alt ="doll" height = "100" width = "100" />